.cate-container{
    border: 2px solid rgb(121, 108, 92);
    width: 65%;
    height: 180px;
    margin: 0 auto;
    .title{
        font-size: 22px;
        font-weight: 500;
        text-transform: uppercase;
        padding: 25px 15px;
        color: rgb(121, 108, 92);
    }

    .product{
        padding-left: 55px;
        &:hover{
            img{
                height: 62px;
            width: 62px;
            }
            color: rgb(168, 168, 225);
            transition: .3s;
        }
        img{
            height: 60px;
            width: 60px;
        }
        .name{
           margin-right: 10px;
           margin-left: -20px;
            padding-left: 25px; 
        }
    }
}